<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="Ndapa Nakashole">

  <link rel="icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}">

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

</head>
<body>

<header class="site-header">
  <div class="hero-inner">
    <div class="hero-photo">
      <div class="photo-frame">
        <img src="{{ '/assets/images/profile3.jpg' | relative_url }}" alt="Photo of {{ site.author.name }}" class="profile-image" />
      </div>
    </div>
    <div class="hero-text">
      <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      <nav>
        <a href="{{ '/' | relative_url }}"{% if page.url == '/' %} class="active"{% endif %}>Home</a>
        <a href="{{ '/research/' | relative_url }}"{% if page.url == '/research/' %} class="active"{% endif %}>Research</a>
        <a href="{{ '/teaching/' | relative_url }}"{% if page.url == '/teaching/' %} class="active"{% endif %}>Teaching</a>
      </nav>
    </div>
  </div>
</header>


  <main class="container">
    {{ content }}
  </main>

  <!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NNBNTYVB9Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-NNBNTYVB9Z');
</script>

  <footer class="site-footer">
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
  </footer>

</body>
</html>
